@import url(../../../https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(../../../https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(../../../https://fonts.googleapis.com/css?family=Montserrat:400,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Montserrat', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #00a885 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-secondary {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #00a885;
  border-color: #00a885;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #005c48;
  border-color: #005c48;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #005c48 !important;
  border-color: #005c48 !important;
}
.btn-warning {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #004234;
  color: #004234;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #00a885;
  border-color: #00a885;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00a885 !important;
  border-color: #00a885 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-success {
  color: #00a885 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #ffffff !important;
}
.alert-success {
  background-color: #00a885;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #ffffff;
}
.btn-social {
  border-color: #ffffff;
}
.btn-social:hover {
  background: #ffffff;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #ffffff;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #ffffff;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
.lead a,
.lead a:hover {
  color: #ffffff;
}
.lead blockquote {
  border-color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #28ffd2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#content1-2d DIV {
  color: #ffffff;
}
#content1-2d P {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
#header3-1s .mbr-section-title,
#header3-1s .mbr-section-subtitle {
  text-align: center;
}
#header3-1s H3 {
  font-size: 24px;
  text-align: right;
  color: #ffffff;
}
#header3-1s SMALL {
  color: #ff0000;
  text-align: right;
  font-size: 12px;
}
#header3-1s P {
  color: #ffffff;
  font-size: 12px;
}
#menu-2q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2q .navbar-caption {
  color: #ffffff;
}
#menu-2q .navbar-toggler {
  color: #ffffff;
}
#menu-2q .close-icon::before,
#menu-2q .close-icon::after {
  background-color: #ffffff;
}
#menu-2q .link,
#menu-2q .dropdown-item {
  color: #ffffff;
  font-family: 'Lora', serif;
}
#menu-2q .link {
  font-size: 0.7rem;
}
#menu-2q .dropdown-item,
#menu-2q .nav-dropdown-sm .link {
  font-size: 0.758rem;
}
#menu-2q .link:hover,
#menu-2q .dropdown-item:hover,
#menu-2q .link:focus,
#menu-2q .dropdown-item:focus {
  color: #ffffff;
}
#menu-2q .link[aria-expanded="true"],
#menu-2q .dropdown-menu {
  background: #00004d;
}
#menu-2q .nav-dropdown-sm .link:focus,
#menu-2q .nav-dropdown-sm .link:hover,
#menu-2q .nav-dropdown-sm .dropdown-item:focus,
#menu-2q .nav-dropdown-sm .dropdown-item:hover {
  background: #000071!important;
}
#menu-2q .navbar,
#menu-2q .nav-dropdown-sm,
#menu-2q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2q .nav-dropdown-sm .dropdown-menu {
  background: #000080;
}
#menu-2q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2q .bg-color.transparent.opened .link:hover,
#menu-2q .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#menu-2q .link[aria-expanded="true"],
#menu-2q .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}




#content1-2p P {
  text-align: center;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
#content1-11 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: left;
}
#content1-14 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: left;
}
#header3-16 .mbr-section-title,
#header3-16 .mbr-section-subtitle {
  text-align: center;
}
#header3-16 H3 {
  font-size: 24px;
  text-align: right;
  color: #ffffff;
}
#header3-16 SMALL {
  color: #ff0000;
  text-align: right;
  font-size: 12px;
}
#header3-16 P {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-align: left;
}
#content1-1q P {
  color: #ffffff;
}
#ext_menu-3g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3g .navbar-caption {
  color: #ffffff;
}
#ext_menu-3g .navbar-toggler {
  color: #000000;
}
#ext_menu-3g .close-icon::before,
#ext_menu-3g .close-icon::after {
  background-color: #000000;
}
#ext_menu-3g .link,
#ext_menu-3g .dropdown-item {
  color: #000000;
}
#ext_menu-3g .link {
  font-size: 1.8rem;
}
#ext_menu-3g .dropdown-item,
#ext_menu-3g .nav-dropdown-sm .link {
  font-size: 1.949rem;
}
#ext_menu-3g .link:hover,
#ext_menu-3g .dropdown-item:hover,
#ext_menu-3g .link:focus,
#ext_menu-3g .dropdown-item:focus {
  color: #ffffff;
}
#ext_menu-3g .link[aria-expanded="true"],
#ext_menu-3g .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-3g .nav-dropdown-sm .link:focus,
#ext_menu-3g .nav-dropdown-sm .link:hover,
#ext_menu-3g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3g .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-3g .navbar,
#ext_menu-3g .nav-dropdown-sm,
#ext_menu-3g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3g .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-3g .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-3g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3g .bg-color.transparent.opened .link:hover,
#ext_menu-3g .bg-color.transparent.opened .link:focus {
  color: #ffffff;
}
#ext_menu-3g .link[aria-expanded="true"],
#ext_menu-3g .dropdown-item[aria-expanded="true"] {
  color: #ffffff!important;
}
